<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Free Christian Book Review</h2>
      <h4>Helping to promote Christian books</h4> 
      <p>The Kingdom of God operates by knowledge.</p>
      <button class="btn btn-default btn-lg">Submit your book for review</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span> 
    </div>
    <div class="col-sm-8">
      <h2>Why Reviewing</h2>
      <p>A good review is to an author what oxygen is to other people. We live for them, we love them, we are so appreciative when a reader takes the time to share their opinion and support our work.</p> 
      
    </div>
  </div>
</div>

<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.count == 0 %>
<span>There are no books currently in this category. Be the first to start a book review in this category. sign up and start a book review.</span>

<% else %>

<div class="row">
    
<% @books.each do |book| %>
    <div class="col-md-3">
<a href="/books/<%= book.id %>">
    <%= image_tag book.book_img.url(:book_index), class: "book" %>
</a>
</div>
<!--<h2><%= link_to book.title, book_path(book) %></h2>-->
<% end %>
</div>
<% end %>